# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec

# Log files
logs/
*.log

# Project specific
Algorithm_Explanation.md

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp
